/* .navigation {
    list-style-type: none;
}

.navigation-item {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40;
}

.radio {
    display: inline;
}

*/

ul {
    padding-left: 30px;
}

.scrollingTable {
    width: 50%;
    overflow-y: auto;
}

.headingTable {
    background-color: rgb(173, 230, 197);
    color: red;
}