ul {
    padding-left: 30px;
}

.scrollingTable {
    width: 50%;
    overflow-y: auto;
}

.headingTable {
    background-color: rgb(173, 230, 197);
    color: red;
}

.infobox {
    border: 2px solid black;
    height: 50vh;
    padding: 10px;
    background-color: lightgray;


}

.dark-dash {
    background-color: #659bce; /* Dunkle Hintergrundfarbe */
    color: #ffffff; /* Textfarbe */
}