<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/skeleton/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/skeleton/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <p> Hier soll ein Bild hin</p>
            <!-- <img src="/static/img/bogan_small.jpg" alt="Bild von Brettspiele"> -->
            <ul class="navigation">
                <li class="navigation-item"><a href="/">Startseite</a></li>
                <li class="navigation-item"><a href="/user">User</a></li>
                <li class="navigation-item"><a href="/krypto">Kryptorechner</a></li>
            </ul>
        </div>
        <div style="clear: both">&nbsp;</div>

        {% block content %} {% endblock %}
    </div>
</body>

</html>
