{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 title-image">
            <img src="{{ detail.image }}" alt="Bild des Brettspiels", height="300px", width=auto>
        </div>
        <div class="col-6 infobox">
            <li> Name: {{detail.name }}</li>
            <li> Complexity: {{ detail.complexity }}.</li>
            <li> duration: {{ detail.duration }}</li>
        </div>
    </div>
    

    <div class="row">
    </div>

{% endblock %}