{% extends "base.html" %}

{% block content %}
<div class="container">
    <!--  Header -->
    <div class="game-header">
        <div class="game-header-image"><img src="{{ detail.image }}" style="height: 30vh; width:auto" alt="Bild des Brettspiels"></div>
        <div class="game-header-body">
            <li> Name: {{detail.name }}</li>
            <li> Complexity: {{ detail.complexity }}.</li>
            <li> Image: {{ detail.image }}</li>
        </div>
    </div>

    <!-- Partien -->
    <div class="row">
        <!-- Tabelle mit Partien die durchgeführt wurden -->
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Brettspiel</th>
                    <th scope="col">Ort</th>
                    <th scope="col">Spieler</th>
                </tr>
            </thead>
            <tbody>
                    {% for partie in partien %}
                    <td>{{partie.datum}}</td>
                    <td>{{partie.brettspiel.name}}</td>
                    <td>{{partie.ort.name}}</td>
                    <td>nothing</td>
                    <td>{% for spieler in partie.spieler %}
                        {% if spieler.win %}
                        <b>{{ spieler.benutzer.name }} ({{ spieler.punktzahl }})<br></b>
                        {% else %}
                        {{ spieler.benutzer.name }} ({{ spieler.punktzahl }})<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>



{% endblock %}