<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Flask und Dash Beispiel</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    <div class="container">
        <!-- First row -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center mt-4">Willkommen zur Flask-Anwendung</h1>
                <!-- <h1>Bla</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odio commodi quas consequatur impedit atque rerum similique eius quae, reiciendis maxime, neque fuga magni hic sint veniam ab non accusantium.</p> -->
                <iframe src="/dashboard/" width="100%" height="700px"></iframe>
            </div>
        </div>

        <!-- Second Row -->
        <div class="row">
            <div class="col-md-6 mt-4">
                <iframe src="/dashboard/" width="100%" height="700px"></iframe>
            </div>
            <div class="col-md-6 mt-3">
                <iframe src="/dashboard/" width="100%" height="700px"></iframe>
            </div>
        </div>

    </div>



    <!-- Optional Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>

</html>