{% extends 'base.html' %}

{% block content %}
<section class="section mb-5">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form method="POST" action="{{ url_for('tools.vote.add_game') }}" class="centered-form">
                    <!-- Suche nach Spielen auf BGG -->
                    <div class="field py-5">
                        <div class="control">
                            <input type="text" class="input is-normal" name="search"
                                placeholder="Suche auf BGG nach einem Spiel">
                        </div>
                        <button class="button is-info is-medium is-fullwidth">Suche</button>
                    </div>
                    <!-- Füge eines der gefundenen Spiele hinzu -->
                    <!-- Hier muss automatisch die Spieleliste erscheinen, ansonsten fehlt dieser Block -->
                    <div class="field py-5">
                        <ul class="checkbox-list">
                            {% for i in range(25) %}
                            <li>
                                <table class="table is-fullwidth">
                                    <tr class="has-text-info-20-invert has-background-info-20 ">
                                        <th is-info><input type="radio" name="games" value="game_{{ i+1 }}"></th>
                                        <td><img src="https://via.placeholder.com/32" alt="Game Image"></td>
                                        <td>Game {{ i+1 }}</td>
                                        <td>Erscheinungsdatum: 2024-0{{ i+1}}-01</td>
                                    </tr>
                                </table>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- Button Füge Spiel hinzu -->
                        <button class="button is-info is-medium is-fullwidth">Füge das Spiel hinzu</button>
                    </div>
                    <!-- Ende des fehlenden Blocks -->
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Aktuelle Spieleliste -->
<section class="section my-5">
    <h1 class="title">Bereits vorhandene Spiele</h1>
    <div class="container">
        <div class="columns is-multiline">
            {% for i in range(10) %}
            <div id="gameList" class="column is-one-quarter">
                <div class="box">
                    <figure class="image is-64-64">
                        <img src="https://via.placeholder.com/64" alt="Placeholder Image">
                    </figure>
                    <div>
                        <p><strong>Name</strong> Wasserkraft</p>
                        <p><strong>Spieleranzahl</strong> 1-4</p>
                        <p><strong>Dauer</strong> 120 min</p>
                        <p><strong>Weight </strong> ITEM {{ i }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}