{% extends 'base.html' %}
{% block content %}


<div class="columns">
    <section class="container py-4">
        <div class="column is-one-half is-center">
            <!-- verschiedene Aktionen -->

            <h1 class="title">Abstimmungstool</h1>

            <!-- Erstelle neue Abstimmung -->
            <form action="GET" action=" {{ url_for('tools.vote.add_vote_list') }}">
                <div class="control">
                    <button class="button is-info-is-fullwidth"> Erstelle eine neue Abstimmung </button>
                </div>
            </form>

            <!-- Füge neues Spiel hinzu -->
            <form action="GET" action=" {{ url_for('tools.vote.add_game') }}">
                <div class="control">
                    <button class="button is-info-is-fullwidth"> Füge ein neues Spiel hinzu </button>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Aktuelle Spieleliste in der Datenbank -->
<section class="container py-4">
    <div class="column is-one-half">
        <h1 class="title">Vorhandene Brettspiele</h1>
        <ul>
            <li> Spiel 1</li>
            <li> Spiel 2</li>
            <li> Spiel 3</li>
            <li> Spiel 4</li>
        </ul>
    </div>
</section>

<!-- Aktuelle Abstimmungen -->
<section class="container py-4">
    <div class="column is-one-half">
        <h1 class="title">Aktuelle Abstimmungen</h1>
        <p>Hier erscheinen bald alle aktuellen Abstimmungen</p>
        <li>Liste1</li>
        <li>Liste2</li>
        <li>Liste3</li>

    </div>
</section>

{% endblock %}