{% extends 'base.html' %}

{% block content %}
<section class="section">
    <h1 class="title">Neue Abstimmung</h1>
    <h2 class="subtitle">Hier kannst du eine neue Abstimmung erstellen</h2>
</section>

<!--  Füge Spieler zur Abstimmung hinzu -->
<section class="section">
    <h1 class="subtitle">Spieler die teilnehmen</h1>

    <div class="select is-multiple">
        <select multiple>
            {% for user in users %}
            <option value=" {{ user.id }}"> {{ user.name }} ({{ user.email }})</option>
            {% endfor %}
        </select>
    </div>
</section>

<!-- Füge Spiele hinzu -->
<section>
    <h1 class="subtitle">Spiele auswählen</h1>

    <div class="select is-multiple">
        <select multiple>
            {% for boardgame in boardgames %}
            <option value=" {{ boardgame.id }}"> <img src="{{boardgame.img_small}}" alt="Kein Bild vorhanden">
                {{ boardgame.name }}
            </option>
            {% endfor %}
        </select>
    </div>
</section>

<!-- TESTE CHECKBOX -->
<section>
    <h1 class="subtitle">Spiele auswählen</h1>
    
    <ul class="ul-scroll">
    {% for boardgame in boardgames %}
    <label class="checkbox">
        <li> <input type="checkbox" /> {{ boardgame.name }} </li>
    </label>
    {% endfor %}
</ul>     
    </div>
</section>

{% endblock %}