{% extends 'base.html' %}

{% block content %}
<section class="section">
    <h1 class="title">Neue Abstimmung</h1>
    <h2 class="subtitle">Hier kann eine neue Abstimmung erstellt werden</h2>
</section>

<div class="box has-background-info-50">
    <form method="POST" action="#">

        <label class="label">Name</label>
        <input class="input is-medium has-background-info-20 has-text-info-20-invert" type="text" name="name"
            placeholder="Name der Abstimmung" value="{{ name }}">

        {% for i in range(num_of_games) %}
        <div class="py-3">
            <label class="label">Spiel {{ i+1 }}</label>
            <input class="select has-background-info-20 has-text-info-20-invert" list="games">
            <datalist id="games">
                    {% for game in games %}
                    <option value="{{ game }}">
                        <img src="{{ url_for('static', filename='img/kaktus.svg') }}" alt="site logo">
                        <!-- {{ game }} -->
                    </option>
                    {% endfor %}
            </datalist>

            <!-- <div class="select">
                <select name="spiel{{i+1}}">
                    {% for game in games %}
                    <option value="{{game}}">{{game}}</option>
                    {% endfor %}
                </select>
            </div> -->
        </div>
        {% endfor %}

        <div class="field py-4">
            <div class="control">
                <button class="button is-info is-fullwidth">Erstelle Abstimmung</button>
            </div>
        </div>
    </form>
</div>

<section class="section">
    <div class="box">
        <input class="select has-background-info-40 has-text-info-40-invert" list="brow">
        <datalist id="brow">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist>

    </div>
</section>


<section class="section">
    {% for i in range(num_of_games) %}
    <label class="label">Spiel {{ i+1 }}</label>
<select class="select has-background-info-20 has-text-info-20-invert">
    <option value="" selected disabled hidden>Bitte wählen</option>
    {% for game in games %}
    <option value="{{ game }}">
        {{ game }}
        <img src="{{ url_for('static', filename='img/kaktus.svg') }}" alt="site logo">
    </option>
    {% endfor %}
</select>
{% endfor %}
</section>

{% endblock %}