{% extends 'base.html' %}

{% block content %}
<section class="section mb-5">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form method="POST" action="{{ url_for('tools.vote.add_game') }}" class="centered-form">
                    <!-- Suche nach Spielen auf BGG -->
                    <div class="field py-3">
                        <div class="control">
                            <input type="text" class="input is-normal" name="search"
                                placeholder="Suche auf BGG nach einem Spiel">
                        </div>
                        <button class="button is-info is-medium is-fullwidth">Suche</button>
                    </div>
                    <!-- Füge eines der gefundenen Spiele hinzu -->
                    <div class="field py-3 has addons">
                        <h1 class="subtitle">Gefundene Spiele</h1>
                        <ul class="checkbox-list ul-scroll">
                            {% for i in range(25) %}
                            <!-- Spieldaten -> Automatisch -->
                            <li class="is-flex is-align-items-center py-2">
                                <input type="radio" name="games" value="game_{{ i+1 }}" class="mx-3">
                                <img src="https://cf.geekdo-images.com/jEPmWvvYpqkWrKOzqIHFsg__thumb/img/kMLIpeqA6UcUvQg2AdMwwQoEIfU=/fit-in/200x150/filters:strip_icc()/pic4336469.png"
                                    alt="Game Image" class="image mx-3">
                                <p class="mx-3"> Game {{ i+1 }}</p>
                                <p class="mx-3"> Erscheinungsdatum {{ 2018 + i }}</p>

                            </li>
                            {% endfor %}
                        </ul>
                        <!-- Button Füge Spiel hinzu -->
                        <button class="button is-info is-medium is-fullwidth">Spiel hinzufügen</button>
                    </div>
                    
                    <!-- Ende des fehlenden Blocks -->
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Aktuelle vorhandene Spiele -->
<section class="section my-5">
    <h1 class="title">Bereits vorhandene Spiele</h1>
    <input type="text" class="input is-normal" name="search_db" placeholder="Filter vorhandene Spiele">
    <div class="container">
        <div class="columns is-multiline">
            {% for i in range(10) %}
            <div id="gameList" class="column is-one-fifth">
                <div class="box p-1">
                    <figure class="image is-32-32">
                        <img src="https://cf.geekdo-images.com/jEPmWvvYpqkWrKOzqIHFsg__thumb/img/kMLIpeqA6UcUvQg2AdMwwQoEIfU=/fit-in/200x150/filters:strip_icc()/pic4336469.png" alt="Placeholder Image">
                    </figure>
                    <div>
                        <p><strong>Name</strong> Wasserkraft</p>
                        <p><strong>Spieleranzahl</strong> 1-4</p>
                        <p><strong>Dauer</strong> 120 min</p>
                        <p><strong>Weight </strong> ITEM {{ i }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}