<!DOCTYPE html>
<html>

<head>
    {% set logo = url_for('static', filename='img/kaktus.svg') %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kreijecks GameChanger</title>
    <link rel="icon" type="image/svg+xml" href="{{ logo }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar has-shadow is-info">
        <!-- logo / brand -->
        <div class="navbar-brand">
            <a href="{{ url_for('main.index') }}" class="navbar-item">
                <img src="{{ logo }}" alt="site logo" style="max-height: 70px" class="py-2 px-2">
            </a>
            <a href="#" class="navbar-burger" id="burger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="nav-links">
            <div class="navbar-start">
                <!-- Tools -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Tools</a>

                    <div class="navbar-dropdown">
                        <a href="{{ url_for('tools.vote.index') }}" class="navbar-item">Brettspiel Abstimmung</a>
                    </div>
                </div>
                <!-- Zusätzliche Reiter -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">Events</a>
                    <div class="navbar-dropdown">
                        {% for event in events %}
                        <a href="{{ url_for('main.show_event', event=event.name)}}" class="navbar-item"> {{ event.name }}</a>
                        {% endfor %}

                    </div>
                </div>
                <a href="{{ url_for('main.show_all_boardgames') }}" class="navbar-item">Brettspiele</a>
                <a href="{{ url_for('main.show_all_players') }}" class="navbar-item">Player</a>
                <a href="{{ url_for('main.show_all_games') }}" class="navbar-item">Partien</a>
                <a href="{{ url_for('main.profile') }}" class="navbar-item">Noch nix</a>

            </div>
            <!-- LOGIN und Co -->
            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.profile') }}" class="navbar-item">{{ current_user.name }}'s Profil</a>
                {% if current_user.role == 'admin' %}
                <a href="{{ url_for('admin.admin_dashboard') }}" class="navbar-item has-text-danger">
                    <span class="icon">
                        <i class="fas fa-cogs"></i>
                    </span>
                    <span>Admin</span>
                </a>
                {% endif %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a>
                {% endif %}

                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.signup') }}" class="navbar-item">Sign Up</a>
                <a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!--  Main Section -->
    <section class="section has-background-info-30 has-text-info-30-invert">
        {% block content %}
        {% endblock %}
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="content has-text-right">
            <p><strong>Bogan </strong> powered by Kreijeck.</p>
            <p>Version: <a href="https://github.com/Kreijeck/bogan/blob/master/changelog.md">{{ config['VERSION'] }}</a></p>
        </div>
    </footer>
    <!-- Scripte -->
    <script src="{{url_for('static', filename='js/bogan-lib.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>