{% extends 'base.html' %}

{% block content %}

<!-- Oberer Bereich: Brettspiel-Details -->
<section class="section">
  <div class="container">
    <h1 class="title"> {{ boardgame.name }}</h1>
    <div class="columns">
      <!-- Spalte für das Bild -->
      <div class="column is-one-third">
        <figure class="image">
          <!-- Hier ggf. eigenes Bild angeben -->
          <img src="{{ boardgame.img }}" alt="Spielbox Terra Mystica" />
        </figure>
      </div>
      <!-- Spalte für die Spiel-Informationen -->
      <div class="column">
        <p><strong>Spieldauer:</strong> ca. {{ boardgame.playtime }} Minuten</p>
        <p><strong>Komplexität:</strong> {{ boardgame.weight }} / 5</p>
        <p><strong>Spieleranzahl:</strong> {{ boardgame.minplayers }} - {{ boardgame.maxplayers }}</p>
        <p><strong>Erscheinungsjahr:</strong> {{ boardgame.yearpublished }}</p>
        <p><strong>BGG ID</strong> {{ boardgame.bgg_id }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Gespielte Partien -->
<section class="section">
  <div class="container">
    <h2 class="subtitle">Gespielte Partien</h2>
    <div class="columns is-multiline">


      <!-- Alle gespielte Partien -->
      {% for game in games %}
      <div class="column is-half">
        <article class="box">
          <h3 class="title is-5">Partie vom {{ game.datum.strftime('%d.%b %Y') }}</h3>
          <!-- Sieger -->
          <p class="has-text-info-50"><strong class="has-text-info-60">Sieger:</strong> {{game.player_pos[0].player.name}} </p>
          <p> <br> </p>
          <p><strong>Spieler (Punkte):</strong>
            {% for player in game.player_pos %}
          <p> Pos {{ loop.index}}: <strong>{{ player.player.name }}</strong> ({{ player.points }} Punkte) </p>
          {% endfor %}
          <p> <br> </p>
          <p><strong>Spielzeit[min]</strong> {{ '-' if game.playtime < 15 else game.playtime }}</p>
          <p><strong>Ort</strong> {{ game.location.name }}</p>

        </article>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

<!-- Tabelle: Spielerstatistik / Ranking , muss noch angelegt werden!!!!-->
<!-- <section class="section">
  <div class="container">
    <h2 class="subtitle">Aktuelle Spielerstatistik</h2>
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>Rang</th>
          <th>Spieler</th>
          <th>Gesamtpunkte</th>
          <th>Durchschnitt</th>
          <th>Siegquote</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Anna</td>
          <td>203</td>
          <td>101.5</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Bernd</td>
          <td>199</td>
          <td>99.5</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Claudius</td>
          <td>72</td>
          <td>72</td>
          <td>0%</td>
        </tr>
      </tbody>
    </table>
  </div>
</section> -->


{% endblock %}