<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Moderner Website-Entwurf</title>
<link rel="stylesheet" href="../../../static/css/style.css">
</head>
<body>
<header>
    <h1>Meine moderne Website</h1>
</header>
<main>
    <section>
        <h2>Willkommen!</h2>
        <p>Dies ist ein Beispieltext für unsere moderne Website.</p>
        <a href="https://www.google.de"> Link irgendwohin</a>
    </section>
</main>
<footer>
    <p>&copy; 2024 Meine Firma</p>
</footer>
</body>
</html>
