{% extends 'base.html' %}

{% block content %}
<div class="container">
  <!-- Abstimmungslisten -->
  <h1 class="title"> Abstimmungslisten </h1>
  <ul >
    <!-- Hier FOR SCHLEIFE -->
    <li><a href="#" class="inherit-color"> Abstimmung 1</a></li>
    <li><a href="#" class="inherit-color"> Abstimmung 2</a></li>
  </ul>
</div>
<div class="container"></div>
<h1 class="title"> Ergebnisse</h1>
<ul>
  <!-- Hier FOR SCHLEIFE -->
  <li><a href="#" class="inherit-color"> Abstimmung 1</a></li>
  <li><a href="#" class="inherit-color"> Abstimmung 2</a></li>
</ul>
</div>
{% endblock %}